p{
    border: 2px solid red;
    width: 20%;
    display: inline-block;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    text-align: justify;
    font-family: Comic Sans MS;
    color: white;
}
.c1{
    background: linear-gradient(45deg,red,green);
}
#id1{
    background: linear-gradient(90deg,yellow,blue);
}
.c2{
    background: linear-gradient(180deg,pink,orange);
}